@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around; /*A distância não é tão "gigatônica" quanto a do space-between que joga os dois filhos lá longe para o canto.*/
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px; /*Width se ajusta sozinho*/
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    color: #fff2e7;
    font-family: "Sarala", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.conteudo {
    border-top: 0.4px solid #fff2e7; /*É para deixar aquela linha no topo da página que separa a navegação.*/
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: "Sarala", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-principal-escrito-botao {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: none; /*Pra tirar a configuração prédefinida da borda*/
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);

    font-family: "Sarala", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #2f2325;
}

.conteudo-principal-imagem {
    height: 430px; /*É para deixar fixo a altura*/
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    margin-top: 48px; /*Para desgrudar da robozinha*/
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7; /*É para deixar aquela linha no topo da página igual a que separa a navegação.*/
    padding-top: 48px;

    font-family: 'Righteous', cursive;
    font-size: 24px;
    color: #fff2e7;
    font-weight: 400;
    margin-bottom: 16px; /*É só para fazer uma pequena distância com os parágrafos*/
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    color:  #ECD6C4;
    font-size: 18px;
    font-weight: 400;
}

.rodape {
    border-top: 0.4px solid #fff2e7; /*É para deixar aquela linha no topo da página igual a que separa a navegação.*/
    padding: 32px;
}

.rodape-imagem {
    height: 48px; /*Para diminuir um pouco*/
    display: block; /*Deixando em block para que a imagem ocupe o espaço inteiro.*/
    margin: 0 auto; /*Fazendo com que a própria margem centralize*/
}